
#main_container_div {
    width: 890px;
    margin: 0 auto;
}

#main_container_div {
    padding: 20px;
}

#iis_related_content_div {
    width: 400px;
    height: 600px;
    float: left;
}

#log_in_div {
    height: 600px;
    padding: 20px;
}