

input[type = "text"], input[type = "password"] {
    height: 50px;
    width: 200px;
    text-align: center;
    border: none;
}

.blured_input {
    -moz-box-shadow: 5px 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px 1px black;
    -moz-border-top-left-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}