
#main_container_div {
    height: 700px;
    padding: 10px;
}

/*--center content---*/
#slide_imgs{
    border:1px solid;
}
.slideimg{
    height: 300px;
    width: 1000px;
}
#main_log_in_button{
    float:right;
    margin-top:-60px;
}
#login_as_div{
    width: 200px;
    float:right;
    display:none;
}
.log_in_option{
    margin-left: 2px;
}

#log_in_div {
    background-image: url("images/note1.jpg");
    height: 200px;
    width: 350px;
    margin: 0 auto;
    z-index: 20;
    position: absolute;
    top: 150px;
    left: 500px;
    padding: 20px;
}

#log_in_form {
    width: 225px;
    height: 400px;
    margin: auto auto;
    margin-top: 65px;
    text-align: center;
    bottom: 0%;
}

#log_in_as_span {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 19px;
    font-family: Arial;
}

#close_log_in_options_span {
    float: right;
    position: absolute;
    top: -25px;
    right: -25px;
}

#overlay_div_container {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#iis_related_content_div {
    padding: 20px;
    margin: 0 auto;
    text-align: justify;
}

/*---abouts---*/




