
#display_products_div {
    width: 600px;
    height: 500px;
    float: left;
    margin: 20px;
}

#add_product_div {
    margin: 30px;
    padding: 20px;
}

.product_delete_action {
    visibility: hidden;
}