
#products_main_div_container {
    border: 2px inset black;
}

#display_products_div {
    width: 600px;
    height: 590px;
    overflow-y: auto;
    overflow-style: move;
    float: left;
    margin: 20px;
    border-right: 1px solid #d3d3d3;
}

#add_product_div {
    margin-top: 50px;
    padding: 15px;
}

#add_product_div dd {
    text-indent: 20px;
}

#add_product_div input[type = "reset"] {
    float: right;
}

.product_delete_action ul {
    position: absolute;
    z-index: 500;
    visibility: hidden;
    list-style: none;
    border: 1px double dodgerblue;
}

.product_delete_action:hover ul, .product_delete_action ul:hover ul {
    visibility: visible;
    background-color: ghostwhite;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 7px;
    z-index: 500;
    position: absolute;
}

.product_delete_action ul li:hover {
    color: dodgerblue;
    cursor: pointer;
}

#delete_trash_icon {
    width: 25px;
    height: 30px;
}

#display_product_selected_letter {
    float: right;
}

#select_stock_unit_first_option {
    font-weight: bolder;
}