#transaction_wrapper_div{
	width: 900px;
	margin: 0 auto;
	border: 1px solid;
}
#pager_next, #pager_prev{
	margin-top: -23px;
	height: 29px;
	background-color:#fff;
	border: none;
}
#pager_prev{
	margin-right: -5px;
	-moz-border-top0-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#pager_next{
	margin-left: -5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#products_to_transact_tbody{
	cursor:url(../CSS/img_tbls/shopping-cart.png), -moz-zoom-in;
}
#shopping_list_table{
	display:none;
}
#shopping_list_total_tfoot{
	background-color: #DDD;
}
#dialog_div{
	display:none;
}
.edit_quantity_img{
	float:right;
	cursor:pointer;
}
.shopping_list_del_option{
	display:none;
}
.totalpayment_tr{
	text-decoration: underline;
	color:#00f;
}
