#transaction_record_wrapper_div{
	width: 900px;
	margin: 0 auto;
    background: #f5f5f5;
}
.transaction_record_tbl{
	width: 95%;
	margin:30px auto;
}
.totalIncome_tr{
	font-weight: bold;
	font-family: Arial, sans-serif;
}
#pager_info_div{
	padding:  10px 10px;
	background-color: #ddd;
}
#pageLimit_form{
	float:right;
}
#pagination_content{
	background-color: #ddd;
	height: 50px;
}
.pagination{
    padding-top:10px;
    margin-left:25px;
}
#pager_next, #pager_prev{
	margin-top: -23px;
	height: 29px;
	background-color:#fff;
	border: none;
}
#pager_prev{
	margin-right: -5px;
	-moz-border-top0-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#pager_next{
	margin-left: -5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#graph-sales-container-div{
	width: 700px;
	height: 300px;
	margin:0 auto;
}
#graph-sales-div{
	border:1px solid #0088cc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin:0 auto 100px auto;
	background-color: #eee;
}
#graph-toggle-div{
	width:15px;
	height:15px;
	border:1px solid;
	float:right;
	margin-top: -48px;
	margin-right: 20px;
	background: -moz-linear-gradient(top left,#0088cc,#0044cc);
	background: -webkit-linear-gradient(top left,#0088cc,#0044cc);
	background: -o-linear-gradient(top left,#0088cc,#0044cc);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	text-align: center;

}
#graph-toggle-div:hover{
	cursor:pointer;
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
}
#loading_img{
	margin-left: 80px;
	display: none;
}
#searchBy_select{
    margin-top:10px;
}
#searchByName_select{
    display:none;
    margin-top:10px;
}