
#iis_header_div {
    height: 50px;
    background: -moz-linear-gradient(bottom,deepskyblue,dodgerblue);
    background: -webkit-linear-gradient(bottom,deepskyblue,dodgerblue);
    background: -o-linear-gradient(bottom,deepskyblue,dodgerblue);
    background: linear-gradient(bottom,deepskyblue,dodgerblue);
    padding: 5px;
}

#system_name_div {
    font-weight: bolder;
    color: #003399;
    font-family: cursive;
}

#system_name_div span {
    color: #0000ff;
    font-size: 45px;
    font-family: Consolas;
}

#buttons_div {
    position: absolute;
    right:  2%;
    top: 3%;
    margin-bottom: 5px;
}

#buttons_div #log_out_button {
    width: 30px;
    background-image: url("images/log_out.png") ;
}


#buttons_div button {
    height: 33px;
}

