#footer_div {
    height: 220px;
    background: #000;
}
#sub_footer{
    border-radius: 13px;
    width: 990px;
    padding: 10px;
    margin:0 auto;
}
#sub_footer ul{
    float:left;
    padding:0 45px;
    border-right: 1px solid;
    margin:0 auto;
    height: 200px;
}
#sub_footer ul:last-child{
    border-right: none;
}

#sub_footer ul li a:hover{
    background: #000;
    color:#fff;
}

