
#footer_div {
    height: 220px;
    background: -webkit-linear-gradient(top, deepskyblue 10%, skyblue 40%, lightblue 90%);
    background: -moz-linear-gradient(top, deepskyblue 10%, skyblue 40%, lightblue 90%);
    background: linear-gradient(top, deepskyblue 10%, skyblue 40%, lightblue 90%);
}
#sub_footer{
    border-radius: 13px;
    width: 990px;
    padding: 10px;
    margin:0 auto;
 }
#sub_footer ul{
    float:left;
    padding:0 45px;
    border-right: 1px solid;
    margin:0 auto;
    height: 200px;
}
#sub_footer ul:last-child{
    border-right: none;
}
.nav-header{
    color:#000;
}