body{
	background: #ddf1f9;
}
#header_div{
    height: 60px;
    background: -moz-linear-gradient(bottom,deepskyblue,dodgerblue);
    background: -webkit-linear-gradient(bottom,deepskyblue,dodgerblue);
    background: -o-linear-gradient(bottom,deepskyblue,dodgerblue);
    background: linear-gradient(bottom,deepskyblue,dodgerblue);
    padding: 5px;
}

#system_name_div {
    font-weight: bolder;
    color: #003399;
    font-family: cursive;
    width: 500px;
}

#system_name_div span {
    color: #0000ff;
    font-size: 45px;
    font-family: Consolas;
}


/*=========tables=========*/
#transaction_wrapper_div{
	width: 900px;
	margin: 0 auto;
    padding: 30px 20px 80px 20px;
    background:#fff;
    border: 1px #000 outset;
    -moz-border-bottom-right-radius:10px; 
    -webkit-border-bottom-right-radius:10px; 
    -o-border-bottom-right-radius:10px; 
    border-bottom-right-radius:10px; 
    border-bottom-left-radius:10px;
    -moz-border-bottom-left-radius:10px; 
    -webkit-border-bottom-left-radius:10px; 
    -o-border-bottom-left-radius:10px;  
}

#shopping_list_table{
	display:none;
}
#shopping_list_total_tfoot{
	background-color: #DDD;
}
#edited_quantity{
	margin: -10px -90px -10px 0;
}
#dialog_div{
	display:none;
}
.edit_quantity_img{
	float:right;
	cursor:pointer;
}
.shopping_list_del_option{
	display:none;
}
.totalpayment_tr{
	text-decoration: underline;
	color:#0088cc;
}

#logout_a{
    line-height: 20px;
    color: #fff;
}
.logout_span{
    margin-top:-60px;
    float:right;
}
#date_span{
    float:right;
}
